<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- Contenido -->
<!--
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><fa-icon [icon]="faCarCrash" class="fa-2x"></fa-icon><strong><h2>SEVS - Taller - Consulta</h2></strong></div>
<div class="row">
  <div class="col-md-12">
      <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong><h2>Resumen de Reportes</h2></strong></div>
          <div class="mat-elevation-z8">
          <mat-form-field class="ml-3">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda...">
          </mat-form-field>
          <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="Folio Encuesta">
              <mat-header-cell *matHeaderCellDef> Folio </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha Entrada">
              <mat-header-cell *matHeaderCellDef> Fecha Entrada </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fechaent}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha Salida">
              <mat-header-cell *matHeaderCellDef> Fecha Salida </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fechasal}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Placa">
              <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.placa | uppercase }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Servicio">
              <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.tipo | uppercase }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Asesor">
              <mat-header-cell *matHeaderCellDef> Asesor </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.asesor | titlecase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Cliente">
              <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.NombreCliente | titlecase }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Calificacion">
              <mat-header-cell *matHeaderCellDef> Calificación </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.total }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="25">
          </mat-paginator>
        </div>
  </div>
</div>
 -->
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong>
        <h2>Exportar Información</h2>
      </strong></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <form>
        <div class="card-group">
          <div class="col-md-2">
            <div class="dropdown" *ngIf="button">
              <button class="btn btn-primary btn-block btn-lg mb-2 mt-4 dropdown-toggle" style="font-size: 1rem"
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecciona Ubicación
              </button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <button class="dropdown-item" style="font-size: 1rem" (click)="changesitio(authservice.ubicacion)"
                  *ngFor="let authservice of data">{{authservice.ubicacion}}</button>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg mb-2 mt-4" style="font-size: 1rem"
              value="Guardar" (click)="exportAs('csv')"><strong>Generar Reporte</strong></button>
          </div>
          <div class="col-md-2" *ngIf="button">
            <button type="submit" class="btn btn-primary btn-block btn-lg mb-2 mt-4" style="font-size: 1rem"
            value="Guardar" (click)="Global()"><strong>Reporte Global</strong></button>
          </div>
        </div>
        <div class="card mt-3 ml-1 text-white text-center" style="background-color: #1a3263"><strong>
            <h2>{{ubi}}</h2>
          </strong></div>
      </form>
      <div class="card-body">
        <table class="table table-sm table-bordered text-center" id="mytable5">
          <thead hidden="true">
            <tr>
              <th scope="col">FOLIO</th>
              <th scope="col">FECHA</th>
              <th scope="col">PREGUNTA 1</th>
              <th scope="col">PREGUNTA 2</th>
              <th scope="col">PREGUNTA 3</th>
              <th scope="col">PREGUNTA 4</th>
              <th scope="col">PREGUNTA 5</th>
              <th scope="col">PREGUNTA 6</th>
              <th scope="col">PREGUNTA 7</th>
              <th scope="col">PREGUNTA 8</th>
              <th scope="col">PREGUNTA 9</th>
              <th scope="col">PREGUNTA 10</th>
              <th scope="col">TOTAL</th>
              <th scope="col">Contestada</th>
            </tr>
          </thead>
          <tbody hidden="true">
            <tr *ngFor="let controlService of listado | async">
              <th scope="row">{{controlService.id}}</th>
              <td class="preguntas">{{controlService.fecha}}</td>
              <td class="preguntasA">{{controlService.pregunta1}}</td>
              <td class="preguntasB">{{controlService.pregunta2}}</td>
              <td class="preguntasC">{{controlService.pregunta3}}</td>
              <td class="preguntasD">{{controlService.pregunta4}}</td>
              <td class="preguntasE">{{controlService.pregunta5}}</td>
              <td class="preguntasF">{{controlService.pregunta6}}</td>
              <td class="preguntasG">{{controlService.pregunta7}}</td>
              <td class="preguntasH">{{controlService.pregunta8}}</td>
              <td class="nueve">{{controlService.pregunta9}}</td>
              <td class="diez">{{controlService.pregunta10}}</td>
              <td class="preguntasI">{{controlService.total}}</td>
              <td class="">{{controlService.contestada}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">TOTAL</th>
              <td>{{num_encuestas}}</td>
              <td class="Total A"></td>
              <td class="Total B"></td>
              <td class="Total C"></td>
              <td class="Total D"></td>
              <td class="Total E"></td>
              <td class="Total F"></td>
              <td class="Total G"></td>
              <td class="Total H"></td>
              <td>Conteo</td>
              <td>Conteo</td>
              <td class="Total I"></td>
            </tr>
            <tr>
              <th scope="row">N/A</th>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td>{{count9_na}}</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
            </tr>
            <tr>
              <th scope="row">SI</th>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td>{{count9_si}}</td>
              <td>{{count10_si}}</td>
              <td bgcolor="black">-</td>
            </tr>
            <tr>
              <th scope="row">NO</th>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td>{{count9_no}}</td>
              <td>{{count10_no}}</td>
              <td bgcolor="black">-</td>
            </tr>
            <tr>
              <th scope="row">Ponderacion</th>
              <td bgcolor="black">-</td>
              <td>20/100</td>
              <td>50-100</td>
              <td>20/100</td>
              <td>20/100</td>
              <td>20/100</td>
              <td>20/100</td>
              <td>20/100</td>
              <td>20/100</td>
              <td>N/A* / SI / NO</td>
              <td>SI / NO</td>
            </tr>
            <tr>
              <th scope="row">20</th>
              <td bgcolor="black">-</td>
              <td class="Ponderacion20 A"></td>
              <td bgcolor="black">-</td>
              <td class="Ponderacion20 C"></td>
              <td class="Ponderacion20 D"></td>
              <td class="Ponderacion20 E"></td>
              <td class="Ponderacion20 F"></td>
              <td class="Ponderacion20 G"></td>
              <td class="Ponderacion20 H"></td>
            </tr>
            <tr>
              <th scope="row">40</th>
              <td bgcolor="black">-</td>
              <td class="Ponderacion40 A"></td>
              <td bgcolor="black">-</td>
              <td class="Ponderacion40 C"></td>
              <td class="Ponderacion40 D"></td>
              <td class="Ponderacion40 E"></td>
              <td class="Ponderacion40 F"></td>
              <td class="Ponderacion40 G"></td>
              <td class="Ponderacion40 H"></td>
            </tr>
            <tr>
              <th scope="row">50</th>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td class="Ponderacion50 B"></td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
              <td bgcolor="black">-</td>
            </tr>
            <tr>
              <th scope="row">60</th>
              <td bgcolor="black">-</td>
              <td class="Ponderacion60 A"></td>
              <td bgcolor="black">-</td>
              <td class="Ponderacion60 C"></td>
              <td class="Ponderacion60 D"></td>
              <td class="Ponderacion60 E"></td>
              <td class="Ponderacion60 F"></td>
              <td class="Ponderacion60 G"></td>
              <td class="Ponderacion60 H"></td>
            </tr>
            <tr>
              <th scope="row">80</th>
              <td bgcolor="black">-</td>
              <td class="Ponderacion80 A"></td>
              <td bgcolor="black">-</td>
              <td class="Ponderacion80 C"></td>
              <td class="Ponderacion80 D"></td>
              <td class="Ponderacion80 E"></td>
              <td class="Ponderacion80 F"></td>
              <td class="Ponderacion80 G"></td>
              <td class="Ponderacion80 H"></td>
            </tr>
            <tr>
              <th scope="row">100</th>
              <td bgcolor="black">-</td>
              <td class="Ponderacion100 A"></td>
              <td class="Ponderacion100 B"></td>
              <td class="Ponderacion100 C"></td>
              <td class="Ponderacion100 D"></td>
              <td class="Ponderacion100 E"></td>
              <td class="Ponderacion100 F"></td>
              <td class="Ponderacion100 G"></td>
              <td class="Ponderacion100 H"></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="card-body">
        <table class="table table-sm table-bordered text-center" id="mytableglobal">
          <thead >
            <tr>
              <th scope="col">Ubicacion</th>
              <th scope="col">Encuestas realizadas</th>
              <th scope="col">Promedio General</th>
              <th scope="col">PREGUNTA 1</th>
              <th scope="col">PREGUNTA 2</th>
              <th scope="col">PREGUNTA 3</th>
              <th scope="col">PREGUNTA 4</th>
              <th scope="col">PREGUNTA 5</th>
              <th scope="col">PREGUNTA 6</th>
              <th scope="col">PREGUNTA 7</th>
              <th scope="col">PREGUNTA 8</th>
              <th scope="col">PREGUNTA 9 N/A</th>
              <th scope="col">PREGUNTA 9 NO</th>
              <th scope="col">PREGUNTA 9 SI</th>
              <th scope="col">PREGUNTA 10 NO</th>
              <th scope="col">PREGUNTA 10 SI</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let controlService of data">
              <th scope="row">{{controlService.ubicacion}}</th>
              <td class="">{{controlService.fecha}}</td>
              <td class="">{{controlService.pregunta1}}</td>
              <td class="">{{controlService.pregunta2}}</td>
              <td class="">{{controlService.pregunta3}}</td>
              <td class="">{{controlService.pregunta4}}</td>
              <td class="">{{controlService.pregunta5}}</td>
              <td class="">{{controlService.pregunta6}}</td>
              <td class="">{{controlService.pregunta7}}</td>
              <td class="">{{controlService.pregunta8}}</td>
              <td class="">{{controlService.pregunta9}}</td>
              <td class="">{{controlService.pregunta10}}</td>
              <td class="">{{controlService.total}}</td>
              <td class="">{{controlService.contestada}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
*Nota: N/A (No se activo la pregunta debido a que la pregunta 3 no fue menor a 60)
<br><br><br>
<!-- Footer -->

<app-footer></app-footer>